@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS code to your styles.css or your Tailwind CSS file */
body{
    font-family: 'Sintony', sans-serif;
}
  
.header{
    font-family: 'Syncopate', sans-serif;
}
@keyframes custom-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.custom-animation {
    animation: custom-spin infinite 15s ease-in-out alternate;
    animation-delay: 4s;
}
@keyframes jump {
  0%, 100% {
      transform: scale(100%);
  }
  10% {
      transform: scale(80%);
  }
  50% {
      transform: scale(120%);
  }
}
.hover\:animate-jump:hover {
  animation: jump .5s both;
}
